<% layout('layout') -%>
<div id="myCarousel" class="carousel slide">

      <div class="carousel-inner">


        <div class="item active">
          <img src="/public/images/splash/01.jpg" alt="">
          <div class="container">
            <div class="carousel-caption">


            <form  name="basicInfo" method='post' action="/user/create" >
                
              <div class="span4">
                    <label>Name:</label> <input type="text" name="name"  >




                    <label>Email:</label> <input type="text" name="email" value=<%= email %> > 
                    <label> ZIP:</label> <input type="text"name="zip" value=<%= zip %> > 

              </div>

              <div class="span4">
                <fieldset>


                    <label> Phone:</label> <input type="text" name="phone"  > 
                    <label> Password:</label> <input type="password" name="password"  > 
                    <label> Confirm:</label> <input type="password" name="confirm"  > </fieldset>

                     <input type="hidden" name="tos" value=<%= tos %> > </fieldset>
              </div>

              <div class="span4">
                    <div style='overflow-y: auto; height: 100px; font-size: 10px; margin-bottom:8px; text-align: justify;'> <p> <%= tos %>  <p> </div>

                    <p> By clicking "Continue", I agree to accept the terms and conditions stated above. </p> </br>
                    <input type="submit" class="btn btn-large btn-primary" value="Continue"> </input>

              </div>


            </form>

            </div>
          </div>
        </div>




      </div>



    </div><!-- /.carousel -->






