    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <p class="lead">
            Develop and share your ideal ring design nisi erat porttitor ligula, eget lacinia odio sem
          </p>
          <p> Dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at.</p>

          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->


        <div class="span4">
          <p class="lead">
            Tell us your budget and location, nisi erat porttitor ligula, eget lacinia odio sem
          </p>
          <p> Dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at.</p>

          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->


        <div class="span4">
          <p class="lead">
            Be matched to a quality jeweller nisi erat porttitor ligula, eget lacinia odio sem
          </p>
          <p> Dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at.</p>

          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    </div>