    <div class="container marketing">

      <!-- Three columns of text below the carousel -->
      <div class="row">
        <div class="span4">
          <p class="lead">
            1. I know what she wants
          </p>
          <p> Dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at.</p>

          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->


        <div class="span4">
          <p class="lead">
           2. She knows what she wants
          </p>
          <p> Dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at.</p>

          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->


        <div class="span4">
          <p class="lead">
            3. I need help
          </p>
          <p> Dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at.</p>

          <p><a class="btn" href="#">View details &raquo;</a></p>
        </div><!-- /.span4 -->
      </div><!-- /.row -->
    </div>